/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: #343434;
    color: white;
}

body a {
    color: white
}

@import '~css-star-rating/css/star-rating.min.css'