ul {
    display: flex;
    flex: 0 1 auto;  
    overflow: auto;
    list-style-type: none;
    margin: 20px;
    margin-block: 0;
    padding-inline: 0;
    padding: 20px;
    max-height: fit-content;
}

li { 
    flex-direction: row;
}