#rating {
    display: block;
}

#reviewText {
    display: block;
}

.review, #noReviews {
    max-width: 30%;
    border-top: 1px solid black;
    padding: 10px;
    background-color: whitesmoke;
}

.review:last-of-type, #noReviews {
    border-bottom: 1px solid black;
}

span.genre::after {
    content: ', ';
}

span.genre:last-of-type::after {
    content: '';
}

.rating {
    display: inline-flex;
    justify-content: flex-start;
}

.reviewContent {
    margin: 4px
}