<div id="holder">
    <div id="header"><app-header-bar></app-header-bar></div>
    <div id="detailBody">
    <div *ngIf="movie; noMovie">
        <div id="details">
            <div id="visualDetails">
                <div id="reviewStats" *ngIf="reviewStats; noReviewStats">
                    <star-rating class="rating postedRating" 
                    [rating]=reviewStats.avgRating 
                    [labelText]="'| ' + reviewStats.avgRating.toString()"
                    [labelPosition]="'right'"
                    ></star-rating>
                </div>
                <img src="{{movie.imagePath}}" alt="{{movie.title}} Poster" id="movieImg">
                <div id="tertiaryDetails">
                    <div id="genres">
                        <span *ngFor="let g of movie.genreIds" class="genre">{{genreIdToGenre.get(g)}}</span>
                    </div>
                    <span id="releaseDate">Released On: {{movie.releaseDate}}</span>
                </div>
            </div>
            <div id="textDetails">
                <span id="title">{{movie.title}}</span>
                <span id="overview">{{movie.overview}}</span>
            </div>
        </div>
        <h3>Reviews</h3>
        <div id="reviewSection">
                <div id="postedReviews" *ngIf="(reviews | async)?.length else noReviews">
                    <div class="review" *ngFor="let r of reviews | async">
                        <star-rating [rating]=r.rating [readOnly]=true class="rating postedRating"></star-rating>
                        <p class="reviewContent">{{r.content}}</p>
                        <span class="reviewDate">Posted On: {{r.date}}</span>
                    </div>
                </div>
                <div id="reviewInput">
                    <h4>Leave a Review:</h4>
                    <star-rating labelText="Select a Rating" [rating]=1 [hoverEnabled]=true class="rating" #stars></star-rating>
                    <textarea id="reviewTextInput" placeholder="Type your review here..." rows="5" cols="60" #content></textarea>
                    <br>
                    <button (click)="postReview(stars.rating, content.value)" id="postBtn">Post Review</button>
                </div>
        </div>
    </div>
    
    <ng-template #noMovie>Looking for movie...</ng-template>
    <ng-template #noReviews>
        <div id="noReviews">There are no reviews for this title</div>
    </ng-template>
    <ng-template #noReviewStats>Looking for review stats...</ng-template>
    </div>
    <div id="footer"><app-footer-bar></app-footer-bar></div>
</div>