section { 
    margin-left: 20px;
}

#details {
    display: flex;
    flex-direction: row;
}

#visualDetails, #textDetails {
    display: flex;
    flex-direction: column;
}

#textDetails {
    margin-left: 10px;
    padding-top: 30px;
}

#textDetails span {
    margin-bottom: 10px;
}

#movieImg {
    margin-bottom: 10px;
}

#title {
    font-size: larger;
    text-decoration: underline;
}

#overview {
    max-width: 65%;
}

#rating {
    display: block;
}

#reviewText {
    display: block;
}

.review, #noReviews {
    border-top: 1px solid black;
    padding: 10px;
    background-color: #4a4a4a;
}

.review:last-of-type, #noReviews {
    border-bottom: 1px solid black;
}

span.genre::after {
    content: ', ';
}

span.genre:last-of-type::after {
    content: '';
}

.rating {
    justify-content: flex-start;
}

.reviewContent {
    margin-bottom: 16px;
}

span.reviewDate {
    font-size: smaller;
}

h3 {
    background-color: #0079FF;
    border-radius: 20px;
    max-width: 35%;
    text-align: center;
}

#reviewSection {
    display: flex;
}

#postedReviews {
    padding-right: 20px;
    width: 35%;
}

#postBtn {
    background-color: #0079FF;
    color: white;
    height: 2em;
    border-radius: 5px;
    border: none;
}

#postBtn:hover {
    background-color: #005bc4;
}